{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido a Grimoire Registry</h1>
    <div class="justified-center-text">
        <br>
        <p>
            En el Reino del Trébol, el Rey Mago necesita un sistema para la academia de magia que administre el registro
            de solicitud de estudiantes y la asignación aleatoria de sus Grimorios. Los Grimorios se clasifican según el
            tipo de trébol en la portada, y los estudiantes según sus afinidades mágicas específicas.
        </p>
    </div>
    <br>
    <h2 class="justified-center-text">Este es el sistema de registro y asignación de grimorios para la academia de
        magia.</h2>
{% endblock %}
