<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Grimoire Registry{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('web.index') }}">Home</a></li>
{#                <li><a href="{{ url_for('web.create_solicitud') }}">Nueva Solicitud</a></li>#}
                <li><a href="{{ url_for('web.get_solicitudes') }}">Ver Solicitudes</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Grimoire Registry. Todos los derechos reservados.</p>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>
