{% extends "base.html" %}

{% block title %}Solicitudes{% endblock %}

{% block content %}
<h1>Solicitudes</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificación</th>
            <th>Edad</th>
            <th>Afinidad Mágica</th>
            <th>Grimorio</th>
        </tr>
    </thead>
    <tbody>
        {% for solicitud in solicitudes %}
        <tr>
            <td>{{ solicitud.nombre }}</td>
            <td>{{ solicitud.apellido }}</td>
            <td>{{ solicitud.identificacion }}</td>
            <td>{{ solicitud.edad }}</td>
            <td>{{ solicitud.afinidad_magica }}</td>
            <td>{{ solicitud.grimorio.tipo_trebol if solicitud.grimorio else 'Sin asignar' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
